@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body{
    font-family:"Source Code Pro",monospace;
    font-size: 1.8em;
    color: white;
    padding:30px 5% 0 5%;
    line-height: 1.2em;
    background-color: #0065ff;
}


@media screen and (min-width: 900px){
body{
    font-family:"Source Code Pro",monospace;
    font-size: 2.5em;
    color: white;
    padding:100px 33% 0 15%;
    line-height: 1.25em;
    background-color: #0065ff;
}
}
 