@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2, h3{
    margin: 0;
    padding: 0;
}

.wrapper{
    padding: 0 5%;
}


img{
    max-width: 100%;
}

/*Navigation styles*/
nav{

    font-size: 18px;
    }
    
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: left;
    }
    
    nav ul li {
        margin: 0;
        padding-right: 20px;
    }
    
    nav a{
        text-decoration: underline;
        color: black;
    }
    
    /*End navigation styles*/
    
h1{
    font-family:'IBM Plex Mono',monospace;
    font-style: italic;
    font-weight: 700;
    font-size: 3.5rem;
    padding: 20vh 0 60vh;
}

section{
    padding: 150px 0;
}

h2{
    font-size: 2rem;
    line-height: 2;
    font-weight:400;
    font-family: 'IBM Plex Mono', monospace;
    font-style: italic;
    padding-bottom: 50px;
    background-color: white;

    position: sticky;
    top: 0;
}

h3{
    font-size: 1.25rem;
    line-height: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;

}

p{
    font-size: 1.1rem;
    line-height: 1.5em;
    padding-bottom: 1.5em;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
@media screen and (min-width: 900px){

    section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2%;
    }

    h2{
        align-self: start;
        position: sticky;
        top: 50px;
    }

    p{
        font-size: 1.5rem;
    }
    
}